//Featured Consultant Carousel Content Only.  See Carousel for functionality specifics.
.featured__consultant {
    margin:25px 0;
    padding:0 15px 15px;
    border:1px solid rgb(238, 239, 239);
    border-top:5px solid rgb(55, 130, 192);
    border-radius: 5px;
    box-shadow: rgba(153, 153, 153, 0.2) 3px 3px 0px 0px;
}

.featured__consultant--headline {
    margin-left:0;
    margin-right:0;
    border-bottom:1px dashed #000;
    h3 {
        font-size:12px;
        font-weight:bold;
        color:$shuttle-gray;
        padding:0 0 5px;
    }
}

.featured__consultant--profile {
    padding-top:30px;
    font-size:14px;
    line-height:20px;
    img {
        width:100px;
        height:100px;
        border:1px solid rgba(0, 0, 0, 1);
        border-radius: 50px; 
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
    }
    h4 {
        padding:5px 0;
        font-size:12px;
        line-height:12px;
        color:$boston-blue;
        font-weight:bold;
    }
    ul {
        padding:0 0 15px;
    }
    li {
        background: url(../images/svg/ic_arrow.svg) -4px 3px no-repeat;
        background-size:11px;
        padding-left:9px;
    }
    @media only screen and (min-width: 992px) {
        height:400px;
    }
    @media only screen and (min-width: 1200px) {
        height:350px;
    }
}

.featured__consultant--name {
    padding-left:31px;
    span {
        display:block;
        max-width:205px;
        padding-top:14px;
        font-size:12px;
        line-height:15px;
        font-weight:bold;
    }
    span.title {
        padding-top:0;
        color: $tropaz-blue;
        line-height:14px;
    }
    strong {
        color: $tropaz-blue;
        font-size:16px;
    }
}

.featured__consultant--affiliations {
    @media only screen and (min-width: 1200px) {
        height:125px;
    }
}