//Important News & Updates Side Bar Content
.container__news--panel {
    max-width: 250px;
    margin:0 auto;
    border:1px solid $haze-gray;
    border-top:5px solid rgb(251, 180, 1);
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: rgba(153, 153, 153, 0.2) 3px 3px 0px 0px;
    font-size:12px;
    padding-bottom:20px;
}

header.container__news--headline {
    padding:15px 0;
    color:$shuttle-gray;
    border-bottom:1px dashed $color-black;
    font-size:12px;
    text-transform:uppercase;
}

section.container__news--updates {
    padding:20px 0 0;
    li {
        padding:0 0 20px 9px;
        display:block;
        color:$zest-orange;
        background: url(../images/svg/ic_arrow_right_orange.svg) -4px 1px no-repeat;
        background-size:15px;
    }
    a {
        display:block;
        padding-top:3px;
        font-weight:bold;
        font-size:12px;
        line-height:16px;
        color:$medium-aquarium;
        &:hover, &:focus, &:active {
            text-decoration:underline;
        }
    }
}

.container__news-updates--subscribe {
    padding-top:15px;
    color: $shuttle-gray;
    font-size: 12px;
    div:last-child {
        padding-top:3px;
        padding-left:1px;
    }
}