//Tools & Resources Main Page
.tools__resources {
    padding-bottom:50px;
}
.tools_resources--row {
//    padding:50px 0 0;
    .last {
        padding-top:50px;
        overflow:auto;
        min-height:281px;
        &:hover, &:focus, &:active {
            background-color:$white-smoke;
            a {
                color:$light-orange;
                text-decoration:underline;
            }
            .svg__ic_managing-electronic-risk, .svg__ic_surgery-anesthesia, .svg__ic_multilingual-resources, .svg__ic_well-being-center {
                fill:$light-orange;
            }
        }
    }
    p > strong {
        display:block;
        font-size:14px;
        margin:25px 0;
    }
    .btn__primary {
        display:block;
        width: 100%;
        max-width:375px;
        height: 40px;
        padding: 8px 0px 3px 10px;
        margin:10px 0 0;
        color: $color-white;
        border-radius: 5px;
        background-color: rgb(222, 139, 39);
        background-image: url(../images/svg/ic_keyboard_arrow_right_white_48px.svg);
        background-size:35px;
        background-repeat:no-repeat;
        background-position:right center;
        text-align:left;
        font-size:16px;
        font-weight:bold;

        &:hover, &:focus, &:active {
            text-decoration:none !important;
            background-color:rgb(254, 180, 1);
            color: $color-white;
        }
    }
}


.btn_primary-container {
    display:block;
    padding-top:30px;
    padding-bottom:2px;
}