//Well-Being Center
.well-being-container {
    h1 {
        font-size:24px;
        padding-bottom:0;
    }
    h2 {
        color:$tropaz-blue;
        font-size:20px;
        margin-bottom:0;
        padding-bottom:0;
    }
    h3 {
        font-size:14px;
    }

    #collapse4 {
        h1 {
            padding:25px 0 0;
        }
    }
}

.img-stress, .img-burnout {
    display:block;
    margin:0 auto;
    max-width:100%;
    height:auto;
}

.fine-print-number {
    color: $zest-orange;
    font-size:12px;
    font-weight:bold;
}

.img-container {
    padding-top:15px;
    .fine-print {
        text-align:center;
    }
    p {
        max-width: 563px;
        margin: 15px auto;
        text-align: center;
    }
}

.footnote-container {
    padding-top:40px;
}

.footnote {
    margin-bottom:25px;
    overflow:auto;
    .fine-print-number {
        width:5%;
        padding-right:2px;
        padding-left:0;
    }
    .fine-print {
        padding-top:0 !important;
        padding-bottom:0 !important;
        padding-left:0;
        padding-right:0;
    }
    @media only screen and (min-width:992px) {
        margin-left:-30px;
        .fine-print-number {
            padding-left:30px;
        }
    }
}

.stats {
    padding-top:50px;
    div {
        padding:0;
        margin:0;
    }
    .stat-content {
        padding-left:15px;
    }
    .stat-female, .stat-male {
        padding:60px 25px 60px 4px;
        text-align:center;
        font-size:40px;
        color:$zest-orange;
        height:150px;
        background-size:150px 150px;
        background-repeat:no-repeat;
        background-position:center center;
        @media only screen and (min-width:1100px) {
            text-align:center;
        }
    }
    .stat-female {
        background-image: url(../images/svg/ic_symbol-female.png);
    }
    .stat-male {
        background-image: url(../images/svg/ic_symbol-male.png);
    }
}