
//Home: Important Latest and News Updates on side menu
a.btn__news--updates {
    display:block;
    width: 220px;
    height: 40px;
    background-color:$tropaz-blue;
    border-radius: 5px;
    border-color: rgb(200, 200, 200);
    font-size:14px;
    text-align:center;
    text-transform:uppercase;
    color:$color-white !important;
    text-decoration:none !important;
    padding:10px 0;
    font-weight:bold;
    &:hover, &:focus, &:active {
        background-color: rgb(55, 130, 192);
        -webkit-transition: background-color .5s linear;
        -ms-transition: background-color .5s linear;
        transition: background-color .5s linear;
    }
}


//Main Resources Page Buttons
.btn__main--link {
    &:hover, &:focus, &:active {
        .btn__main--text {
            text-decoration:underline !important;
        }
    }
}


.btn__main {
    clear:both;
    display:block;
    float:left;
    width: 150px;
    height: 150px;
    padding:25px;
    margin:25px 0 10px;
    background-color: $haze-gray;
    border-radius: 20px;
    border-color: rgb(200, 200, 200);
    &:hover, &:focus, &:active {
        background-image: linear-gradient(rgba(244, 215, 144, 1) 28%, rgba(241, 230, 202, 0.34902) 103%);
        -webkit-transition: background-image .5s linear;
        -ms-transition: background-image .5s linear;
        transition: background-image .5s linear;
        svg {
            fill:#FEB401;
        }
        .btn__main--text, .btn__main--text-extended {
            text-decoration:underline;
        }
    }
    @media only screen and (min-width:768px) and (max-width:991px) {
        clear:none;
        margin:0;
        width:150px;
        height:150px;
    }
}

//Home and Sample Policies: SVG/Button Icons link text.  
.btn__main--text {
    float:left;
    width:42%;
    max-width:104px;
    margin:90px 0 35px;
    padding:0 0 0 10px;
    background: url(../images/svg/ic_arrow_right_blue.svg) 84% 0 no-repeat;
    background-size:25px;
    font-size:15px;
    font-weight:bold;
    &:hover, &:focus, &:active {
        text-decoration:underline;
    }
    @media only screen and (min-width:768px) {
        width:170px;
        max-width:180px;
        margin:10px 0 35px;
        padding:0;
        p {
            text-align:left;
            font-size:14px;
        }
    }
    @media only screen and (min-width:992px) {
        p {
            font-size:16px;
        }
    }
}

//Homepage and Sample Policies: Shorter Words
.single-line {
    @media only screen and (min-width:768px) {
        margin-left:35px;
    }
}

//Home Page and Sample Policies: Text of a button/svg icon that is long
.btn__main--text-extended {
    @extend .btn__main--text;
    &:hover, &:focus, &:active {
        text-decoration:underline;
    }
    @media only screen and (min-width:768px) {

    }
}

//PDF Download Button
.button__pdf--container {
    padding:30px 0;
    max-width:93.75%;
    @media only screen and (min-width:768px) {
        padding-bottom:30px;
        max-width:93%;
    }
}

//Manuals: PDF Donwload Button
.button__pdf--download {
    display:block;
    text-align:center;
    width:100%;
    max-width:500px;
    padding:10px 0;
    color:$color-white;
    font-weight:bold;
    border:0;
    border-radius: 5px;
    background-color: rgb(38, 98, 148);
    background-image: url(../images/svg/ic_keyboard_arrow_right_white_48px.svg);
    background-size:40px;
    background-position:right center;
    background-repeat:no-repeat;
    &:hover, &:focus, &:active {
        color:$color-white;
        background-color: rgb(55, 130, 192);
    }
    @media only screen and (min-width: 768px) {
        max-width:100%;
        background-position:right center;
    }
    @media only screen and (min-width: 992px) {
        background-position:right center;
    }
    @media only screen and (min-width: 1200px) {
        background-position:right center;
    }
}

//Manuals: Large PDF Download Button
.button__pdf--download-large {
    @extend .button__pdf--download;
    @media only screen and (min-width: 768px) {
        max-width:95%;
        background-position:right center;
    }
    @media only screen and (min-width: 992px) {
        max-width:100%;
        background-position:right center;
    }
    @media only screen and (min-width: 1200px) {
        background-position:right center;
    }
}

//Manuals: Risklutions PDF Download Button
.button__risklutions {
    clear:both;
    margin-top:20px;
    padding-top:20px;
    .button__pdf--download {
        background-position: right center;
    }
    @media only screen and (min-width: 768px) {
        display:block;
        padding-top:20px;
        background-position: right center;
    }
    @media only screen and (min-width: 992px) {
        clear:none;
        display:block;
        padding-top:20px;
        background-position: right center;
    }
}


//Claim Reviews: More Button
.btn-more {
    margin:40px 0;
    width: 100%;
    height: 50px;
    border:0;
    border-radius: 5px;
    background-color:rgb(38, 98, 148);
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    &:hover, &:focus, &:active {
        background-color: rgb(55, 130, 192);
    }
}

