.carousel-inner {
    min-height:325px;
}
.carousel-controls {
    padding:0 15px 0 5px;
    a {
        display:inline-block;
        padding:3px 25px;
        color:$yellow-orange;
        font-size:12px;
        font-weight:bold;
        &:hover, &:focus, &:active {
            text-decoration:underline;
        }
    }
    a:first-child {
        background: url('../images/svg/ic_keyboard_arrow_left_orange.svg') top left no-repeat;
        background-size:25px;
    } 
    a:last-child {
        background: url('../images/svg/ic_keyboard_arrow_right_orange.svg') top right no-repeat;
        background-size:25px;
    } 
}