/* RETINA WEBFONT */
#card-filter {
    display:none;
}

[class^="retina-"], [class*=" retina-"] {
    font-family: 'retinafont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	border: 0px;
}


/* CARDS */
.xsml {
	font-size: 12px;
}

.sml {
	font-size: 14px;
}

.card {
	display: block;
	position: relative;
	transition: all .25s ease 0s;
	top: 0; /* start out at position 0 */
	width: 265px;
	min-height: 330px;
	background-color: $white-smoke;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	text-decoration: none;
	margin: 10px 0px;
}

.card-header {
	color: $shuttle-gray;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0px 15px 12px;
}

.card-icon {
	font-size: 26px;
	margin: 12px 15px 10px 12px;
	color: $shuttle-gray;
}

.card-newscopy2 {
	width: 263px;
	height: 195px;
	padding: 20px 10px;
	color: $shuttle-gray;
	line-height: 18px;
	margin-top: 35px;
	margin-bottom:4px;
}

.card-newsheader{
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	color: $shuttle-gray;
	margin-bottom: 10px;
	margin-top: 0px;
}

.card-date {
	color: $dusty-gray;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 0px 15px 12px;	
}

.card-readmore {
    position:absolute;
    bottom:-15px;
    right:0;
	color: $zest-orange;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 0px 15px 12px;	
}

.card-readmoreicon {
	font-size: 28px !important;
	margin-top: -5px !important;	
	margin-left: -3px;
}
.card:hover  .card-readmore {
	color: $yellow-orange;
}

.card-claims {
	display: block;
	border-top: 5px solid $color-affair;
	border-right: 1px solid $white-smoke;
	border-bottom: 1px solid $white-smoke;
	border-left: 1px solid $white-smoke;
	text-decoration: none;
}

.card-claims:hover {
	display: block;
	position: relative;
	top: -5px;
	border-top: 5px solid $color-affair;
	border-right: 1px solid rgba(137,73,138, 0.5);
	border-bottom: 1px solid rgba(137,73,138, 0.5);
	border-left: 1px solid rgba(137,73,138, 0.5);
	text-decoration: none;
}

.card-claims:link
{
	text-decoration: none !important;
}

.filed {
	color: $shuttle-gray;
	text-transform: uppercase;
}

.category {
	color: $dusty-gray;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0px 0px 10px;
}