//Custom Checkbox
.claim-checkbox {
    float:left;
    margin-right:10px;
	position: relative;
	width: 30px;
	height: 30px;
	background-color: $color-white;
    border:2px solid $color-gray78;
	border-radius: 5px;
	input[type="checkbox"]{
		//visibility: hidden;
        opacity:0;
		&:checked + .label-checkbox{
		}
		&:checked + label:before{
			opacity: 1;
		}
	}
	label{
		width: 2px;
		height: 2px;
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		border-radius: 2px;
		cursor: pointer;
		&:before{
			content: '';
			width: 21px;
			height: 13px;
			border: 4px solid $color-atlantis-green;
			position: absolute;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
			top: 4px;
			left: 3px;
			opacity: 0;
		}
	}
}

//Inactive Checkbox
.inactive {
    label {
        color:$silver-sand;
        b {
            color:$gold-sand;
        }
    }

    select:disabled {
        border:1px solid $color-gainsboro;
        color:$iron;
        background-color:$color-alabaster;
    }
}

