.dropdown {
    text-align:center;
    padding:25px 0;
    @media only screen and (min-width:768px) {
        display:none;
    }
}

.btn-default {
    width:100%;
}

.dropdown-menu {
    width:100%;
    top:auto;
    margin:-3px 0 0;
    padding:0;
    background:$color-white;
    border-color:#adadad;
    border-radius:0;
    border-top:0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    li > a {
        white-space:normal;
    }
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default  {
    background-color:$color-white;
}