#modal-position {
    position:relative;
}

.modal-book, .modal-audio, .modal-video {
    display:none;
    position:absolute;
    width:254px;
    z-index:9999;
    padding:10px 10px 15px;
    background: $white-smoke;
    border:1px solid $color-gray78;
    border-radius:10px;
    h3 {
        color:$zest-orange;
        text-transform:uppercase;
        font-size:12px;
    }
    h4 {
        padding:0;
        margin:0;
        font-size:12px;
        text-transform:uppercase;
    }
    p {
        font-size:12px !important;
        padding:0;
        margin:0;
    }

    @media only screen and (min-width: 992px) {
        width:300px;
        -webkit-box-shadow: 10px 7px 32px -3px rgba(0,0,0,0.13);
        -moz-box-shadow: 10px 7px 32px -3px rgba(0,0,0,0.13);
        box-shadow: 10px 7px 32px -3px rgba(0,0,0,0.13);
    }
}

.modal-book {
    top:120px;
    left:0;
    border-left:10px solid $zest-orange;
    @media only screen and (min-width: 992px) {
        top:0;
        left:100%;
    }
}

.modal-audio {
    top:120px;
    left:-25px;
    border-right:10px solid $zest-orange;
    @media only screen and (min-width: 992px) {
        top:0;
        left:-75%;
    }
}

.modal-video {
    top:-400px;
    left:-25px;
    border-right:10px solid $zest-orange;
    @media only screen and (min-width: 992px) {
        top:-140px;
        left:-75%;
    }
}