//Home Resources: SVG icons
.svg__ic--webinars, .svg__ic--education, .svg__ic--tools-resources, .svg__ic--sample-policies, .svg__ic--bundled-solutions, .svg__ic--self-assessment, .svg__ic--hipaa, .svg__ic--brink-magazine {
    opacity: 1;
    width: 96px;
    height: 96px;
    fill: $zest-orange;
}

//Sample Policies: SVG icons
.svg__ic--clinics, .svg__ic--hospitals, .svg__ic_long-term--care  {
        @extend .svg__ic--webinars;
}

//Homepage: Latest News & Updates small icon
.svg__ic--tools-impt-news-updates {
    width:24px;
    height:24px;
    margin-top:-5px;
    float:right;
}

//Homepage: Featured Consultants small icon
 .svg__ic_consultants-pss-team {
     width:24px;
     height:24px;
     float:right;
     margin-top:10px;
 }

 //Manuals Page: SVG Icons
 .svg__ic_medicare-billing-compliance-manual, .svg__ic_risk-management-handbook, .svg__ic_risklutions {
     display:block;
     width:110px;
     height:110px;
     margin-left: auto;
     margin-right: auto;
     fill:#266294;
     @media only screen and (min-width: 768px) {
        width:140px;
        height:140px;
        margin:0;
        padding-top:0;
     }
     @media only screen and (min-width: 1023px) {
        width:150px;
        height:150px;
        margin:0;
        padding-top:0;
     }
 }

 //Manuals Page: Risk Management SVG Icon
 .svg__ic_risk-management-handbook {
      position:relative;
      top:50px;
      left:10px;
      margin-bottom:50px;
     @media only screen and (min-width: 768px) {
        position:static;
        top:0; left:0;
        margin-bottom:0;
     }
 }

 //Manuals Page: Risklutions SVG Icon
 .svg__ic_risklutions {
    width:125px;
    height:125px;
 }

 //SVG on Multiple Pages: Setting consistency across the section
 .svg__ic_cme-options, .svg__ic_live-educational-programs, .svg__ic_webinars, .svg__ic_apology-communication, .svg__ic_female, .svg__ic_basic-risk-management, .svg__ic_patient-centered-care, .svg__ic_chronic-pain-management, .svg__ic_pediatric-solutions, .svg__ic_hipaa, .svg__ic_preventing-diagnostic-error, .svg__ic_long-term-care, .svg__ic_preventing-health-care-workplace-violence, .svg__ic_managing-electronic-risk, .svg__ic_surgery-anesthesia, .svg__ic_claim-reviews, .svg__ic_sample-policies, .svg__ic_minute-for-medicine, .svg__ic_self-assessment, .svg__ic_multilingual-resources, .svg__ic_well-being-center {
     display:block;
     margin:0 auto 20px;
     width:143px;
     height:143px;
     fill:#197198;
     @media only screen and (min-width: 992px) {
         width:100px;
         height:100px;
     }
     @media only screen and (min-width: 1200px) {
        width:125px;
        height:125px;
     }
 }

 //Most Pages: Setting right arrow svg
 .svg__ic_arrow_right_blue {
     width:25px;
     height:25px;
     fill:#3782C0;
 }