$color-white:#ffffff;
$color-black:#000000;

//HEX
$tropaz-blue: #266294;
$boston-blue: #3782C0;
$polo-blue: #7DA0C5;
$cornflower-blue: #9AC2EC;
$limed-spruce: #333E48;
$shuttle-gray: #565E56;

$zest-orange:#DE8B27;
$yellow-orange:#FEB401;
$medium-carmine-red:#AA3339;
$cinnabar-red:#E83A43;
$haze-gray:#EEEFEF;
$white-smoke:#F7F7F7;

$fern-front:#4D6B1D;
$atlantis-green:#8AC230;
$mindaro-green:#C9FC77;
$pale-yellow:#FFFEA87;
$dusty-gray:#999999;
$alto-gray:#CFCFCF;

$varden: #fff1cf;
$light-orange: #FDB415;
$color-gray78: #c7c7c7;
$color-atlantis-green:#8AC230;
$color-gainsboro: #DFDFDF;
$color-affair: #89498A;
$color-alabaster: #FBFBFB;
$silver-sand:#BEC0C3;
$gold-sand:#EBC292;
$iron:#CBCDCF;
$pearl-lusta:#fcf8e3;
$champagne: #faebcc;

//RGB
$tropaz-blue-rgb: rgb(38, 98, 148);
$boston-blue-rgb: rgb(55, 130, 192);
$polo-blue-rgb: rgb(125, 160, 197);
$cornflower-blue-rgb: rgb(154, 194, 236);
$limed-spruce-rgb: rgb(51, 62, 72);
$shuttle-gray-rgb: rgb(86, 94, 101);

$zest-orange-rgb: rgb(222, 139, 39);
$yellow-orange-rgb: rgb(254, 180, 1);
$medium-carmine-red-rgb: rgb(170, 51, 57);
$cinnabar-red-rgb: rgb(232, 58, 67);
$haze-gray-rgb: rgb(238, 239, 239);
$white-smoke-rgb: rgb(247, 247, 247);

$fern-front-rgb: rgb(77, 107, 29 );
$atlantis-green-rgb: rgb(138, 194, 48 );
$mindaro-green-rgb: rgb(201, 252, 119 );
$pale-yellow-rgb: rgb(255, 234, 135 );
$dusty-gray-rgb: rgb(153, 153, 153 );
$alto-gray-rgb: rgb(207, 207, 207 );

$medium-aquarium:#66A0CF; 