html, body {
    margin:0;
    padding:0;
    background-color:$color-cinder;
    color:#fff;
}


h1, h1, h3, h4, h5, h6, p, ul, li, a {
    padding:0;
    margin:0;
}

ul {
    list-style:none;
}

a {
    color:$color-atlantis;
    transition:all .5s ease-in;
    &:hover, &:focus, &:active {
        color:$color-crete;
    }
}