//@import 'https://fonts.googleapis.com/css?family=Lato';

html, body {
    font-size:16px;
    font-family:$font-lato;
    box-sizing:border-box;
}

h1 {
    font-size:22px;
    color: $tropaz-blue;
    font-weight:bold;
    padding-bottom:25px;
}

h2 {
    font-size:18px;
    font-weight:bold;
    color:$boston-blue;
}

h2.subtitle {
    font-size:20px;
    color:$limed-spruce;
}

h4 {
    margin-top:0;
    margin-bottom:0;
}

p {
    font-size:14px;
    margin-bottom:0;
}
ul {
    padding:0;
    margin:0;
    list-style:none;
}

li {
    color:$shuttle-gray;
}

a {
    display:block;
    &:hover, &:focus, &:active {
        text-decoration:none;
    }
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}