.ic__link--large {
    background-image: url(../images/svg/ic_open_orange.svg);
    background-repeat: no-repeat;
    background-size:20px;
    background-position:0 2px;
    font-weight:bold;
    padding-left:25px;
}

.ic__link--small {
    padding-left:20px;
    background-image: url(../images/svg/ic_open_orange.svg);
    background-repeat: no-repeat;
    background-size:15px;
    background-position:0 5px;
}

.ic__arrow--large {
    background-image: url(../images/svg/ic_arrow.svg);
    background-repeat: no-repeat;
    background-size:15px;
    background-position:0 1px;
    font-weight:bold !important;
    padding-left:25px;
}

.ic__arrow--small {
    padding-left:15px;
    background-image: url(../images/svg/ic_arrow.svg);
    background-repeat: no-repeat;
    background-size:10px;
    background-position:0 5px;
}

.ic__pdf--large {
    padding-left:25px;
    padding-bottom:4px;
    background-image: url(../images/svg/ic_pdf-icon-blue.svg);
    background-repeat: no-repeat;
    background-size:18px;
    background-position:0 2px;
}

.ic__pdf--orange {
    padding-left:25px;
    padding-bottom:4px;
    background-image: url(../images/svg/ic_pdf-icon-orange.svg);
    background-repeat: no-repeat;
    background-size:18px;
    background-position:0 2px;
}

.ic__pdf--small {
    padding-left:20px;
    background-image: url(../images/svg/ic_pdf-icon-blue.svg);
    background-repeat: no-repeat;
    background-size:13px;
    background-position:0 2px;
}

.ic__vid--small {
    padding-left:30px;
    background-image: url(../images/svg/ic_video-orange.svg);
    background-repeat: no-repeat;
    background-size:25px;
    background-position:0 5px;
}

.ic__interactive--orange {
    padding-left:25px;
    background-image: url(../images/svg/ic_interactive--orange.svg);
    background-repeat: no-repeat;
    background-size:18px;
    background-position:0 0;
}

.ic__books--large, .ic__audio--large, .ic__vid-orange {
    p, span {
        display:block;
        padding:0;
        margin:0;
        font-size:14px !important;
    }
}

.ic__books--large {
    padding-left:30px;
    background-image: url(../images/svg/ic_books-orange.svg);
    background-repeat: no-repeat;
    background-size:24px;
    background-position:0 5px;
}

.ic__audio--large {
    padding-left:25px;
    background-image: url(../images/svg/ic_audio-orange.svg);
    background-repeat: no-repeat;
    background-size:17px;
    background-position:0 5px;
}

.ic__vid-orange {
    padding-left:32px;
    background-image: url(../images/svg/ic_youtube-orange.svg);
    background-repeat: no-repeat;
    background-size:27px;
    background-position:0 5px;
}