.img {
    max-width:100%;
    height:auto;
}
.img-chronic {
    display:block;
    width:160px;
    margin:0 auto;
    @media only screen and (min-width:768px) {
        float:right;
        padding:23px 0 16px 6px;
    }
}

.img-sociotechnical {
    max-width:100%;
    height:auto;
}