.details {
    h3 {
        color:$color-atlantis;
        padding-bottom:30px;
        font-size:60px;
        font-weight:bold;
        text-transform:uppercase;
        padding-top:00px;
    }
    h4 {
        color:$color-atlantis;
        text-transform:uppercase;
    }
    h4.tagline {
        margin-bottom:25px;
        color:$color-nevada;
    }
    strong {
        color:$color-atlantis;
    }
}

.movie-details {
    padding:55px 0 0;
} 

.similar-movies {
    h3 {
        font-size:24px;
        padding-top:35px;
    }
    h4 {
        padding-bottom:15px;
        text-align:center;
    }
    p {
        line-height:2.2rem;
    }
    @media only screen and (min-width: 480px) {
        h3 {
            font-size:24px;
            padding-top:0;
        }
    }
}

#poster {
    margin-bottom:25px;
}