.details {
    h3 {
        color:$color-atlantis;
        padding-bottom:30px;
        font-size:60px;
        font-weight:bold;
        text-transform:uppercase;
        padding-top:00px;
    }
    p {
        padding-bottom:16px;
        line-height:50px;
        font-family:Arial, Helvetica, sans-serif;
    }
    strong {
        color:$color-atlantis;
    }
}
